@charset "UTF-8";
/*
breaking ponits
telas medias 768px a 992px
telas grandes mais de 992px
*/
@media screen and (min-width:768px) and (max-width:992px){
    body{
        background: linear-gradient(to top,#5185A6, #A68358);
    }
    section#login{
        width: 95%;
        height: 90%;

    }
   section#login > div#img{
        width:40%;
        height:100%;
        float: left;
    }
    div#form{
        width: 60%;
        height: 100%;
        float: right;
        padding: 10px;
    }
    div#campo{
        font-size: 1.3em;
    }
    form > input[type=submit]{
            height: 50px;
            padding: 5px;
    }
    form > input[type=reset]{
       height: 50px;
       padding: 5px;
    }

}





@media screen and (min-width:992px) {
     body{
        background: linear-gradient(to top,#5185A6, #A68358);
    }
    section#login{
        width: 800px;
        height: 80%;

    }
   section#login > div#img{
        width:50%;
        height: 100%;
        float:right;
    }
    div#form{
        width: 50%;
        height: 100%;
        float: left;
        padding: 10px;
    }
    div#campo{
        font-size: 1.3em;
    }
    form > input[type=submit]{
        height: 50px;
        padding: 5px;
    }
    form > input[type=reset]{
        height: 50px;
        padding: 5px;
    }
    
}