@charset "UTF-8";
/*cores
cor 1: #5185A6
cor 2: #A68358
#C2E0F2

*/
 *{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
 }
 html,body{
    height: 100vh;
    width: 100vw;
    background-color: #5185A6;
 }
 main{
   display: flex;
   height: 100vh;
   width: 100vw;
   justify-content: center;
   align-items: center;
 }
 section#login{
    background-color: white;
    position: absolute;
    height: 670px;
    width: 300px;
   
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px  10px rgba(0, 0, 0, 0.721);
    cursor: pointer;
    transition: width 0.8s, height 0.8s;
    transition-timing-function:ease;

 }
section#login > div#img{
   background: url(../imagens/pexels-frank-cone-140140-3180831.jpg) no-repeat;
   background-size: cover;
   width: 100%;
   height: 40%;
   display: block;
   
 }
 div#form{
   width: 100%;
   height: 60%;
   display: block;
   background-color: #A68358 ;

 }
  div#form > h1{
   font-size: 1.5em;
 }


 div#campo{
   background-color:#528fb5;
   color: white;
   width: 100%;
  
  
   margin: 3px 0px;
   border-radius: 3px;
}
div#campo:hover{
   background-color: #113348;
}
div#campo > input{
   height: 100%;
   width: calc(100%-70px);
   font-size: 1em;

}
div#campo > span{
   background-color: black;
   
   font-size: 1.5em;
   width: 30px;
   height: 30px;
 
}
form > input[type=submit]{
   width: 100%;
   height: 25px;
   padding: 3px;
   color: white;
   cursor: pointer;
   background-color: #1b5e88;
    border-radius: 3px;
}
form > input[type=submit]{
   background-color:#5185A6;
}
form > input[type=reset]{
   width: 100%;
   height: 25px;
   padding: 3px;
   cursor: pointer;
   color: white;
   background-color:#1b5e88;
   margin: 3px 0px;
   border-radius: 3px;
}
form > input[type=reset]:hover{
   background-color: #5185A6;
   margin: 3px 0px;
  
}