@charset "UTF-8";
/*cores
cor 1: #5185A6
cor 2: #A68358
#C2E0F2

*/
 *{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
 }
 html,body{
    height: 100vh;
    width: 100vw;
    background-color: #5185A6;
 }
 section#login{
    background-color: white;
    position: absolute;
    height: 600px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px  10px rgba(0, 0, 0, 0.721);
    cursor: pointer;
    transition: width 0.8s, height 0.8s;
    transition-timing-function:ease;

 }
section#login > div#img{
   background: url(../imagens/pexels-frank-cone-140140-3180831.jpg) no-repeat;
   background-size: cover;
   width: 100%;
   height: 40%;
   display: block;
   
 }
 div#form{
   width: 100%;
   height: 60%;
   display: block;
   background-color: #A68358 ;

 }
 div#campo > h1{
   font-size: 1em;
 }
 div#campo{
   background-color:#528fb5;
   color: white;
   width: 100%;
  
   margin: 3px 0px;
}
div#campo:hover{
   background-color: #113348;
}
div#campo > span{
   background-color: black;
   height: 100%;
   font-size: 1.5em;
}
div#campo > input{
   width: 100$;
}