div.container{
    background-color: blueviolet;
    display: flex;
    flex-flow: row nowrap;
  
}
div.item{
    
   
    background-color: rgb(85, 225, 21);
    border: 1px solid black;
    text-align: center;
}
div#cxA{
  flex: 1  1 200px;

}
div#cxB{
  flex: 2  0 200px;
   
}
div#cxC{
  flex: 0  4  150px;
  
}
div#cxD{
  flex: 2  1  200px;
  
}