div.container{
    background-color: blueviolet;
    display: flex;
    flex-flow: row nowrap;
    width: 900px;
}
div.item{
    flex-basis:200px ;
   
    background-color: rgb(85, 225, 21);
    border: 1px solid black;
    text-align: center;
}
div#cxA{
  flex-shrink: 1;
  flex-grow:1; 

}
div#cxB{
   flex-shrink:0;
   flex-grow: 2;
}
div#cxC{
   flex-shrink:4;
   flex-grow: 0;
}
div#cxD{
  flex-grow: 2;
  flex-shrink: 1;
}