@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgreen;
}
header{
  
    background-color: green;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
}
header > h1 {
 
    color: white;
    padding: 10px;
  flex: 0 0 200px;
    box-shadow: 2px 2px 5px black;
}
header > nav {
   
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}
header > nav > a {
    padding: 10px;
    background-color: greenyellow;
    border-radius: 5px;
   margin: 5px;
    text-align: center;
}
header > nav > a:hover {
    background-color: white;
}
main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 3px black;
    
}