@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif ;
    box-sizing: border-box;

}
html, body {
    background-color:#012340 ;
    height: 100vh;
    width: 100vw;
}
main{
   display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
   
}
section#login{
    background-image: linear-gradient(to top,#038C3E,#012340 );
    width: 340px;
    position: absolute;
    height: 650px;
 
    border-radius: 20px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.589);
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}
section#login > div#imagem{
    background:#038C3E url(../imagens/pexels-rok-romih-1746122-3367930.jpg) no-repeat;
    height: 220px;
    background-position: top right;
    background-size: cover;
   
 

}
div.campo{
    margin: 5px 0px;
   background-color: #038C3E;
    display: block;
    width: 100%;
    
   }
   /*configuração do icone*/
div.campo > span{
    color: white;
    background-color: black;
    width: 30px;
    height: 40px;
   padding: 3px;
    font-size: 1.5em;
    border-radius: 5px;
    background-color:#02421e ;
}
/*configuração da caixa*/
div.campo > input{
    background-color:#012340 ;
    font-size: 1em;
    
    height: 33px;
    width: calc(100%-60px);
    border: 0px;
    border-radius: 8px;
    padding: 4px;
}
div.campo > input:focus-within{
    background: white;
}


section#login > div#Formulario  input[type=submit]{
    display: block;
    background-color: #062441;
    width: 100%;
    color: white;
    margin-top: 5px;
    height: 35px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
section#login > div#Formulario  input[type=submit]:hover{
     background-color: #074a88 ;
}
section#login > div#Formulario  input[type=reset]{
    display: block;
    font-size: 1em;
    background-color: #54adfb;
    width: 100%;
    height: 35px;
    color: white;
    margin-top: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
section#login > div#Formulario input[type=reset]:hover{
    background-color:#3e719e ;
}
