div.container{
    background-color: blueviolet;
    display: flex;
    height: 400px;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items:center;

   
}
div.item{
   
    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;
    padding: 5px
   
}