@charset "UTF-8";
/*
em HTML é id em CSS é #
em  HTML é class em CSS é .

*/
root{
    --cordestaque:;
    --cordefundo: ;
    --cor3;

    --font-padrao:Arial,Helvetica,Verdana,sans-serif;
    --fontedestaque:;

}
body {
    
    background-image: radial-gradient(#8C5F37,#F26430,#67C1DB);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: italic
    border-width: 10px;
    border-style: solid;
    border-color: darkslategray;
   

}
h1{
    color: ;
    font: normal 1em italic;
    text-align: center;
    padding: 8px
}
h1#principal{

}
h2{
    color: ;
    font: normal 1em italic;
    text-align: right;
    text-shadow: 1px 1px 2px #69472970;
    padding: 8px
}
h3{
    color:var() ;
    font: ;
    text-align: justify;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.307);

}
p{
    text-align: justify;
    text text-indent: 30px;
}

main{
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:10px ;
    box-shadow: 5px 5px 15px #5e3f257e ;
  
    padding: 10px;

    min-width:320px ;
           max-width: 800px;
           margin: auto;
    margin: auto;
}
nav{
    
}
.destaque{

}
.qualidades{

}
.aniversario{

}
div>p{
    display: none;
}
div:hover>p{
    display: block;
    color: red;
    width: 300px;
}
div:hover{
    background-color: ;
}
a{
    color:;
    text-decoration: none;
    font-weight: bold;
}
a:visited{
    color:
}
a:hover{
    color:;
    text-decoration: underline;
}
a:active{
    color: ;
}
header{
    padding: ;
    margin: ;
}
footer{
    padding: ;
    margin: ;
}