div.container{
    display: flex;
    height: 190px;
    justify-content: space-between;
   
    background-color: aquamarine;
   flex-flow: column-reverse wrap-reverse;
}
div.item{
    background-color: blueviolet;
    
    border: 1px solid black;
    text-align: center;
    
   
}