div.container{
    background-color: blueviolet;
    display: flex;
   flex-flow:row-reverse wrap-reverse;
    text-align: center;

}
div.item{
    background-color: aquamarine;
    padding: 10px;
    border: 1px solid black;
    flex: auto;
}
