@charset "UTF-8";
*{
    padding: 10px;
    margin: 10px;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    
}
header>h1{
    background-color: rgb(2, 111, 111);
    text-align: center;
}
menu{
    display: none;
}
article{
    width: 600px;
    size: 100%;
}
article::after{
    content: "Esse artigo foi redigito por Gabriel Leite";
}