@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #4E8AD9;
    height: 100Vh;
    width: 100vw;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    padding: 8px;
     background-color: #6c71d7;
     color: white;
     display: flex;
    flex-flow: row wrap; 
    justify-content:space-between;
    align-items: center;
    
}
header > nav {
    border: 1px dashed black;
    color: white;
    display: flex;
   flex-flow: row wrap;
   justify-content: flex-end;
}
header> nav > h1 {
   flex: 1 1 200px;
    border: 1px dashed black;

}
header > nav > a {
    background-color: #0f1aea;
    padding: 10px;
    margin: 5px;
    border:1px dashed black;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    
}
nav > a:hover{
    background-color: #000680;
}
main{
    background-color: white;
    padding: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.614);
    border: 10px;
    border-radius: 5px;
    
}