div.container{
    background-color: blueviolet;
    display: flex;
    flex-flow: row wrap;
}
div.item{
    padding: 20px;
    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;
}
div#i1{
   order:1 ;

}
div#i2{
   order:-3 ; 
}

div#i3{
order:7 ;
}
div#i4{
    order: -2;
}
div#i5{
    order:0 ;
}

div#i6{
    order: 5;
}
div#i7{
    order:2 ;
}
div#i8{
    order:-1 ;
}
