@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}