@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
   
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    background-color: darkcyan;
}
p{
    padding-bottom: 10px;
    line-height: 1.2em;
    margin: 5px;
    
}
h1{
    padding-bottom: 10px;
    text-align: center;
}
h2{
    padding-bottom: 10px;
    text-align: left;
}
header, section.normal{
    
    padding: 20px;
}
section.flex{
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    border: 1px dashed green;
}
article.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    background-color: rgb(4, 224, 151);
    justify-content: space-between;
    
}

article.text-media{
  display: flex;
  flex-flow: row wrap;
  background-color: rgb(6, 179, 121);
  justify-content: space-between;

}
div.media {
   flex: 1 1 500px;
}
div.text{
    flex: 1 1 500px;
    background-color: white;
   
}
article > div > img {
  display: block;
  margin: auto;
  width: 300px;
  border: 2px 2px 5px rgba(0, 0, 0, 0.629);


}
article > iframe{
  display: block;
  margin: auto;
  
  width: 90%;

}
