div.container{
    background-color: blueviolet;
    display: flex;
    flex-direction:column-reverse;
    text-align: center;

}
div.item{
    background-color: aquamarine;
    padding: 10px;
    border: 1px solid black;
}