@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body,html{
    height: 100vh;
    width: 100vw;
    background-color: blue;
}
main{
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
section#form{
   background-color: aquamarine;
   height: 300px;
   width: 300px;
}