@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
}
main{
    background-color: blue;
    
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
section{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
}