@charset "UTF-8";
/*
breaking points
telas pequenas ate 768px
telas medias 768px ate 992px
telas grandes

]*/

@media screen  and (min-width:768px) and (max-width:992px) {
    body{
        background: linear-gradient(to top,#F28D9F,#0568A6);
    }
    main > section#login{
        width: 85%;
        height: 90%;

    }
   section#login > div#imagem{
        background-position: left bottom;
        float: left;
        width: 60%;
        height: 100%;
    }
     section#login > div#form{
       float: right;
        width: 37%;
        height: 100%;
    }
    form > input[type=submit]{
        height: 50px;
        margin: 5px;
      }
      form > input[type=reset]{
        height: 50px;
        margin: 5px;
      }

    
}

@media screen and (min-width:993px){
    body{
        background: linear-gradient(to top,#F28D9F,#0568A6);
    }
      main > section#login{
        width: 990px;
       
      }
      section#login > div#imagem{
        width: 50%;
     float: right;
        height: 100%;

      }
      section#login > div#form{
        width: 47%;
        float: left;
        height: 100%;
      }
      div#campo{
        padding: 5px;
        height: 35px;
      }
      form > input[type=submit]{
        height: 60px;
        padding: 5px;
        margin: 5px ;
      }
      form > input[type=reset]{
        height: 60px;
        padding: 5px;
        margin: 5px;
      }

}