@charset "UTF-8";
/*
cor 1 #F28D9F
cor 2 #0568A6
cor 3 #D97762

*/
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body,html{
    height: 100vh;
    width: 100vw;
    background-color: #0568A6;
}
main{

}
section#login{
    display: block;
    background-color: #F28D9F;
    width: 300px;
    height: 600px;
    border-radius: 10px;
    border: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.514);
    top: 50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%,-50%);
    overflow: hidden;
    transition: width 0.8s, height 0.9s;
    transition-timing-function: ease;
}
section#login > div#imagem{
      background: #0568A6 url(../imagens/pexels-kovyrina-34392736.jpg);
      background-size: cover;
      background-position: center cente;
      height: 40%;
      width: 100%;
      display: block;
}
section#login > div#form{
    display: block;
    width: 100%;
    height: 60%;
   
   
}
div#campo{
    display: block;
    background-color: #0568A6;
    padding: 2px;
    color:black;
    border-radius: 4px;
    margin: 3px 0px;
    width: 100%;
    height: 30px;
    cursor: pointer;
   
    
}
div.campo > span {
    color: white;
    background-color: black;
    font-size: 2em;
    padding: 6px;
}

form > input[type=submit]{
    height: 30px;
    width: 100%;
   
    padding: 5px;
    border-radius: 2px;
    color: white;
    background-color: #D97762;
    cursor: pointer;
     margin-top: 2px;
 
    font-size: 1em;
    border: none;
    
}
form > input[type=submit]:hover{
    background-color: #853b2a;
}
form > input[type=reset]{
    cursor: pointer;
    height: 40px;
    width: 100%;
    padding: 5px;
    border: none;
   
    border-radius: 2px;
   color: white;
   background-color:#D97762 ;
}
form > input[type=reset]:hover{
    background-color: #ff6644;
}