@charset "UTF-8";
section.container{
    background-color: aquamarine;
    display: flex;
   height: 400px;
    flex-flow:row wrap;
    align-content: space-evenly;
    justify-content: flex-start;
   
    
}
div.item{
    background-color: bisque;
    padding: 30px;
    flex-basis: 150px;
}
div#i1{
    order: -5;
    align-self: flex-end

}
div#i2{
    order: 0;
    align-self: auto;
}
div#i3{
    order: 3;
    align-self: center;
}
div#i4{
    order: -2;
    align-self: stretch;
    
}
div#i5{
    order: 0;
    align-self: auto;
}

div#i6{
    order: 5;
    align-self: flex-end;
    
}
div#i7{
    order: -1;
    align-self: stretch;
    
}
div#i8{
    order: 0;
    align-self: center;
    
}
div#i9{
    order: 5;
    align-self: auto;
    
}
div#i10{
    order: -3;
    align-self: flex-end;
    
}
div#i11{
    order: 0;
    align-self: center;
}
div#i12{
    order: 2;
    align-self: stretch;
}
div#i13{
    order: -9;
    align-self: flex-end
}